body{
    margin: 25px 25px 25px 25px;
}

div {
    display: inline-block;
    border: 1px solid black;
    width: 200px;
    height: 200px;
    margin: -2px;
    }

.titulo{
    background-color: black;
    text-align: center;
    color: white;
}

.vermelho{
    background-color: red;
}
    
.azul{
    background-color: blue;
}

.verde{
    background-color: green;
}

.amarelo{
    background-color: yellow;
}

.hov:hover{
    background-color: aqua;
}

#canto{
    border: 2px solid black;
}